doctype html
html(lang='en')
  head
    title Reservas Naturales en el Putumayo
    meta(charset='utf-8')
    link(rel='stylesheet', href='stylesheets/reset.css', type='text/css', media='all')
    link(rel='stylesheet', href='stylesheets/style.css', type='text/css', media='all')
    script(type='text/javascript', src='javascripts/jquery-1.4.2.min.js')
    script(type='text/javascript', src='javascripts/cufon-yui.js')
    script(type='text/javascript', src='javascripts/Humanst521_BT_400.font.js')
    script(type='text/javascript', src='javascripts/Humanst521_Lt_BT_400.font.js')
    script(type='text/javascript', src='javascripts/roundabout.js')
    script(type='text/javascript', src='javascripts/roundabout_shapes.js')
    script(type='text/javascript', src='javascripts/gallery_init.js')
    script(type='text/javascript', src='javascripts/cufon-replace.js')
    //if lt IE 7
      link(rel='stylesheet', href='css/ie/ie6.css', type='text/css', media='all')
    //if lt IE 9
      script(type='text/javascript', src='javascripts/html5.js')
      script(type='text/javascript', src='javascripts/IE9.js')
  body
    // header
    header
      .container
        h1
          a(href='/') Reservas Naturales Putumayo
        nav
          ul
            li
              a.current(href='/') Inicio
            li
              a(href='mapa') Mapa
            li
              a(href='sitios') Sitios
            li
              a(href='gallery.html') Ayuda
    // #gallery
    section#gallery
      .container
        ul#myRoundabout
          p
          h3 FIN DEL MUNDO 
          h3 SALTO DEL INDIO 
          h3 HORNOYACO
          h3 CASCADA SILVANIA
          h3 CALIYACO
          h3 PARQUE NATURAL CEA
          h3 CASCADA DEL DUENDE
          h3 ACUARIO AMAZONICO
          h3 AULA AMBIENTAL CORPOAMAZONIA
          p
    // /#gallery
    // footer
    footer
      .container
        .wrapper
    script(type='text/javascript').
      Cufon.now();
